/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Container Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: navy;
    background: linear-gradient(-45deg, #EFEFBB, #D4D3DD, #e3ebab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styling */
header {
    color: navy;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a4a4a4;
    background: transparent;
    background-size: 400% 400%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: gradient 15s ease infinite;
    
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: navy;
    text-decoration: none;
    
}
nav ul li a:hover {
    text-decoration: underline;
    
}

/* Section Styling */
section {
    padding: 20px 0;
}

section h2 {
    margin-bottom: 10px;
    color: navy;
}
section a {
    padding-top: 10px;
    color: navy;
    text-decoration: none;
    
}
section a:hover {
    text-decoration:underline; 
}

.project {
    background: transparent;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* Contact Form Styling */
form {
    background: transparent;
    padding: 20px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;

    margin-bottom: 10px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
}

form button {
    background: #5c6a70;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.formButton{
    color: #fff;
    text-decoration: none;
}
.formButton:hover{
    text-decoration: none;
}
form button:hover {
    background: #555;
}

/* Footer Styling */
footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
